{% extends "base.html.twig" %}
  {% block title %}Strona Główna{% endblock %}

  {% block body %}

    {% for message in app.flashes('success') %}
      <div class="alert alert-success" onclick="this.style.visibility = 'hidden'">
        <a> {{ message }}</a>
      </div>
    {% endfor %}

    <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="https://getbootstrap.com/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Bootstrap</h6>
          <small>Since 2011</small>
        </div>
      </div>
      <div class="my-3 p-3 bg-white rounded box-shadow">
        <table class="table">
          <th>
            Tytuł projektu
          </th>
          <tr>
            {% for listProject in projectController.listProjectsHome%}
          <tr>
            {% if listProject.share %}
            <td class="page-link" id="{{ listProject.id }}" style="color: black">{{ listProject.name }}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Informacje o projekcie</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Informacje dodatkowe o projekcie</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancel">Zamknij</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script>
      $(".page-link").click(function () {
        let projectId = $(this).attr('id');
        $.ajax({
          url: '/project/get-single-project',
          data: {'projectId': projectId},
          method: 'get',
          success: function (response){
            $(".modal").modal("show");
            console.log(response);
          },
          error: function (){
            alert("Coś poszło nie tak");
          }
        });
      });
    </script>
{% endblock %}
